{% extends 'accountsbase.html' %}
{% load static %}
{% block body_part %}
<div class="main-wrapper account-wrapper">
    <div class="account-page">
        <div class="account-center">
            <div class="account-box">
                <h4 class="page-title">Change Password</h4>
                <form action='/reset_password' method='post'> {% csrf_token %}
                    
                    
                    <div class="form-group">
                        <label>New password</label>
                        <input name='new_password1' type="password" class="form-control">
                    </div>
                
                    <div class="form-group">
                        <label>Confirm password</label>
                        <input name='new_password2' type="password" class="form-control">
                    </div>
                    
                
                
                    <div class="col-sm-12 text-center m-t-20">
                        <button type="submit" class="btn btn-primary submit-btn">Update Password</button>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
</div>


    {% endblock %}